[Unit]
Description=CamPi's camera

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/home/campie_camera/campi-camera
Restart=on-failure
RestartSec=10
User=riehli_r
Group=riehli_r

[Install]
WantedBy=multi-user.target
